In [1]:
import time
from selenium import webdriver
import pandas as pd

In [2]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [3]:
driver = webdriver.Chrome(PATH)

In [4]:
jobs={"Roles_for_applicant":[],
     "Companies_name":[],
     "Location_of_job":[],
     "Experience":[],
     "Skills_set_required":[],
     "Salary_offered":[],
     "Description_about_job":[]}

In [7]:
def get_url(position):
  template ="https://www.naukri.com/"
  pos=''
  p=position.lower()
  p=p.split()
  for i in p:
    pos= pos+i+'-'
  pos=pos+'jobs'+'-'

  template=template+pos+'?'+'k={}'
  url=template.format(position.lower())
  url1=url.split('?')
  url_final=url1[0]+'{}?'+url1[1]
  return url_final

In [8]:
url=get_url('Data Scientist')
url

'https://www.naukri.com/data-scientist-jobs-{}?k=data scientist'

In [10]:
for i in range(167,728):
    driver.get(url.format(i))
    time.sleep(3)
    lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
    for job in lst:
        driver.implicitly_wait(10)
        role=job.find_element_by_css_selector("a.title.fw500.ellipsis").text
        company_name=job.find_element_by_css_selector("a.subTitle.ellipsis.fleft").text
        location_of_job=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.location").text
        exp=job.find_element_by_css_selector(".ellipsis.fleft.fs12.lh16").text
        skills=job.find_element_by_css_selector(".tags.has-description").text
        salary=job.find_element_by_css_selector(".fleft.grey-text.br2.placeHolderLi.salary").text
        job_desc=job.find_element_by_css_selector(".job-description.fs12.grey-text").text
        jobs["Roles_for_applicant"].append(role)
        jobs["Companies_name"].append(company_name)
        jobs["Location_of_job"].append(location_of_job)
        jobs["Experience"].append(exp)
        jobs["Skills_set_required"].append(skills)
        jobs["Salary_offered"].append(salary)
        jobs["Description_about_job"].append(job_desc)

KeyboardInterrupt:

In [59]:
df=pd.DataFrame(jobs)
df

,Roles_for_applicant,Companies_name,Location_of_job,Experience,Skills_set_required,Salary_offered,Description_about_job
0,Practice Lead- Artificial Intelligence,Converge Staffing Solutions,Noida,9-14 Yrs,Pytorch\nTensorflow\nData Science\nNLP\nArtifi...,"32,50,000 - 40,00,000 PA.",Practice Leader - Artificial IntelligenceLocat...
1,Database Administrator Required in Canada,Pleco Migration Private Limited,Canada,2-7 Yrs,Database Designer\nDatabase Administration\nOr...,"30,00,000 - 45,00,000 PA.",Call Deepika - 8448366479 Responsible for the ...
2,Research Associate,Era IT Solution,Delhi,3-8 Yrs,analytics\ngis\nResearch Analysis\nData Struct...,"3,00,000 - 7,00,000 PA.",analyst to develop comprehensive understanding...
3,Front-end Developer,Bigshyft Hiring for ORI,Noida,2-4 Yrs,JavaScript\nHTML\nReact JS\nCSS3,Not disclosed,"You will be working on designing, developing a..."
4,Product Manager(Software Sales),Nore Consulting,Trivandrum,5-8 Yrs,product strategy\nproduct pricing\nsoftware pr...,Not disclosed,Qualification and required work experienceMust...
...,...,...,...,...,...,...,...
75,Data Scientist,Anlage Infotech (I) Pvt. Ltd.,"Mumbai, Bengaluru, Hyderabad, Gurgaon",1-5 Yrs,python\nML algorithms\ndata science\nIT Skills...,Not disclosed,Education: Bachelors / Masters in a quantative...
76,Sr Data Scientist,Valence Health,Pune,2-5 Yrs,IT Skills\nData Science\nMachine Learning\nPub...,Not disclosed,We know that algorithms are only valuable when...
77,Sr Solution Architect- Data Scientist,BIRLASOFT LIMITED,Pune,12-15 Yrs,IT Skills\nJava\nPython\nMachine Learning\nBig...,Not disclosed,Data Sciences and Machine Learning - Minimum 7...
78,Looking For Data Scientists,Maples Imaging Solution Private Limited,"Chennai, Delhi NCR, Mumbai, Bengaluru, Hyderabad",4-8 Yrs,IT Skills\nPython\nMachine Learning\nFractal\n...,Not disclosed,Roles and Responsibilities 3+ years of experie...
79,Assistant Manager/ Manager/ Data Scientist - P...,Huquo Consulting Pvt. Ltd,Bengaluru,3-8 Yrs,Data Science\nPredictive Modeling\nNLP\nData S...,Not disclosed,Experience in machine learning algorithm devel...

In [60]:
df["Skills_set_required"]=list(df["Skills_set_required"].str.split('\n'))
df

,Roles_for_applicant,Companies_name,Location_of_job,Experience,Skills_set_required,Salary_offered,Description_about_job
0,Practice Lead- Artificial Intelligence,Converge Staffing Solutions,Noida,9-14 Yrs,"[Pytorch, Tensorflow, Data Science, NLP, Artif...","32,50,000 - 40,00,000 PA.",Practice Leader - Artificial IntelligenceLocat...
1,Database Administrator Required in Canada,Pleco Migration Private Limited,Canada,2-7 Yrs,"[Database Designer, Database Administration, O...","30,00,000 - 45,00,000 PA.",Call Deepika - 8448366479 Responsible for the ...
2,Research Associate,Era IT Solution,Delhi,3-8 Yrs,"[analytics, gis, Research Analysis, Data Struc...","3,00,000 - 7,00,000 PA.",analyst to develop comprehensive understanding...
3,Front-end Developer,Bigshyft Hiring for ORI,Noida,2-4 Yrs,"[JavaScript, HTML, React JS, CSS3]",Not disclosed,"You will be working on designing, developing a..."
4,Product Manager(Software Sales),Nore Consulting,Trivandrum,5-8 Yrs,"[product strategy, product pricing, software p...",Not disclosed,Qualification and required work experienceMust...
...,...,...,...,...,...,...,...
75,Data Scientist,Anlage Infotech (I) Pvt. Ltd.,"Mumbai, Bengaluru, Hyderabad, Gurgaon",1-5 Yrs,"[python, ML algorithms, data science, IT Skill...",Not disclosed,Education: Bachelors / Masters in a quantative...
76,Sr Data Scientist,Valence Health,Pune,2-5 Yrs,"[IT Skills, Data Science, Machine Learning, Pu...",Not disclosed,We know that algorithms are only valuable when...
77,Sr Solution Architect- Data Scientist,BIRLASOFT LIMITED,Pune,12-15 Yrs,"[IT Skills, Java, Python, Machine Learning, Bi...",Not disclosed,Data Sciences and Machine Learning - Minimum 7...
78,Looking For Data Scientists,Maples Imaging Solution Private Limited,"Chennai, Delhi NCR, Mumbai, Bengaluru, Hyderabad",4-8 Yrs,"[IT Skills, Python, Machine Learning, Fractal,...",Not disclosed,Roles and Responsibilities 3+ years of experie...
79,Assistant Manager/ Manager/ Data Scientist - P...,Huquo Consulting Pvt. Ltd,Bengaluru,3-8 Yrs,"[Data Science, Predictive Modeling, NLP, Data ...",Not disclosed,Experience in machine learning algorithm devel...

In [61]:
#df.to_csv('file11.csv',index=False)

In [65]:
df1=pd.read_csv(r"C:\Users\sak\Documents\file2.csv")
df2=pd.read_csv(r"C:\Users\sak\Documents\file3.csv")
df3=pd.read_csv(r"C:\Users\sak\Documents\file4.csv")
df4=pd.read_csv(r"C:\Users\sak\Documents\file5.csv")
df5=pd.read_csv(r"C:\Users\sak\Documents\file6.csv")
df6=pd.read_csv(r"C:\Users\sak\Documents\file7.csv")
df7=pd.read_csv(r"C:\Users\sak\Documents\file8.csv")
df8=pd.read_csv(r"C:\Users\sak\Documents\file9.csv")
df9=pd.read_csv(r"C:\Users\sak\Documents\file10.csv")
df10=pd.read_csv(r"C:\Users\sak\Documents\file11.csv")
frames=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]
data_scientist_jobs=pd.concat(frames)

In [66]:
data_scientist_jobs

,Roles_for_applicant,Companies_name,Location_of_job,Experience,Skills_set_required,Salary_offered,Description_about_job
0,Data Scientist/Analyst - Machine Learning/Deep...,EchoIndia,Delhi,3-6 Yrs,"['IT Skills', 'Python', 'Machine Learning', 'T...",Not disclosed,- Strong experience in statistical models and ...
1,"Data Scientist, Machine Learning",Fractal Analytics Ltd,Bengaluru,3-7 Yrs,"['Supply chain management', 'Linux', 'RF', 'RD...",Not disclosed,Experience of working on end-to-end data scien...
2,Data Scientist/Analyst – IT Department,Nandan Denim Limited,Ahmedabad,7-8 Yrs,"['Data Analysis', 'Statistical Modeling', 'Pre...",Not disclosed,Hands on experience in one or more databases l...
3,"Data Scientist, I",iXplore Technologies,Bengaluru,0-2 Yrs,"['IT Skills', 'Software Development', 'Machine...",Not disclosed,"Bachelors degree, Masters or PhD in statistics..."
4,Explore job openings on Data Scientist!!,Bristlecone India Limited,"Pune, Mumbai, Bengaluru",4-9 Yrs,"['IT Skills', 'Python', 'Data Science', 'Machi...","3,00,000 - 8,00,000 PA.",Hands-on python programming with experience de...
...,...,...,...,...,...,...,...
75,Data Scientist,Anlage Infotech (I) Pvt. Ltd.,"Mumbai, Bengaluru, Hyderabad, Gurgaon",1-5 Yrs,"['python', 'ML algorithms', 'data science', 'I...",Not disclosed,Education: Bachelors / Masters in a quantative...
76,Sr Data Scientist,Valence Health,Pune,2-5 Yrs,"['IT Skills', 'Data Science', 'Machine Learnin...",Not disclosed,We know that algorithms are only valuable when...
77,Sr Solution Architect- Data Scientist,BIRLASOFT LIMITED,Pune,12-15 Yrs,"['IT Skills', 'Java', 'Python', 'Machine Learn...",Not disclosed,Data Sciences and Machine Learning - Minimum 7...
78,Looking For Data Scientists,Maples Imaging Solution Private Limited,"Chennai, Delhi NCR, Mumbai, Bengaluru, Hyderabad",4-8 Yrs,"['IT Skills', 'Python', 'Machine Learning', 'F...",Not disclosed,Roles and Responsibilities 3+ years of experie...
79,Assistant Manager/ Manager/ Data Scientist - P...,Huquo Consulting Pvt. Ltd,Bengaluru,3-8 Yrs,"['Data Science', 'Predictive Modeling', 'NLP',...",Not disclosed,Experience in machine learning algorithm devel...

In [67]:
data_scientist_jobs.to_csv('data_scientist_jobs.csv',index=False)

In [2]:
data=pd.read_csv(r"C:\Users\sak\Documents\data_scientist_jobs.csv")
data

,Roles_for_applicant,Companies_name,Location_of_job,Experience,Skills_set_required,Salary_offered,Description_about_job
0,Data Scientist/Analyst - Machine Learning/Deep...,EchoIndia,Delhi,3-6 Yrs,"['IT Skills', 'Python', 'Machine Learning', 'T...",Not disclosed,- Strong experience in statistical models and ...
1,"Data Scientist, Machine Learning",Fractal Analytics Ltd,Bengaluru,3-7 Yrs,"['Supply chain management', 'Linux', 'RF', 'RD...",Not disclosed,Experience of working on end-to-end data scien...
2,Data Scientist/Analyst – IT Department,Nandan Denim Limited,Ahmedabad,7-8 Yrs,"['Data Analysis', 'Statistical Modeling', 'Pre...",Not disclosed,Hands on experience in one or more databases l...
3,"Data Scientist, I",iXplore Technologies,Bengaluru,0-2 Yrs,"['IT Skills', 'Software Development', 'Machine...",Not disclosed,"Bachelors degree, Masters or PhD in statistics..."
4,Explore job openings on Data Scientist!!,Bristlecone India Limited,"Pune, Mumbai, Bengaluru",4-9 Yrs,"['IT Skills', 'Python', 'Data Science', 'Machi...","3,00,000 - 8,00,000 PA.",Hands-on python programming with experience de...
...,...,...,...,...,...,...,...
14433,Data Scientist,Anlage Infotech (I) Pvt. Ltd.,"Mumbai, Bengaluru, Hyderabad, Gurgaon",1-5 Yrs,"['python', 'ML algorithms', 'data science', 'I...",Not disclosed,Education: Bachelors / Masters in a quantative...
14434,Sr Data Scientist,Valence Health,Pune,2-5 Yrs,"['IT Skills', 'Data Science', 'Machine Learnin...",Not disclosed,We know that algorithms are only valuable when...
14435,Sr Solution Architect- Data Scientist,BIRLASOFT LIMITED,Pune,12-15 Yrs,"['IT Skills', 'Java', 'Python', 'Machine Learn...",Not disclosed,Data Sciences and Machine Learning - Minimum 7...
14436,Looking For Data Scientists,Maples Imaging Solution Private Limited,"Chennai, Delhi NCR, Mumbai, Bengaluru, Hyderabad",4-8 Yrs,"['IT Skills', 'Python', 'Machine Learning', 'F...",Not disclosed,Roles and Responsibilities 3+ years of experie...
14437,Assistant Manager/ Manager/ Data Scientist - P...,Huquo Consulting Pvt. Ltd,Bengaluru,3-8 Yrs,"['Data Science', 'Predictive Modeling', 'NLP',...",Not disclosed,Experience in machine learning algorithm devel...

In [4]:
data.Description_about_job[1]

'Experience of working on end-to-end data science pipeline: problem scoping, data gather...'