In [4]:
import time
from selenium import webdriver
import pandas as pd

In [5]:
PATH = "C:\Program Files (x86)\chromedriver.exe"

In [6]:
driver = webdriver.Chrome(PATH)

# Scraping all the links of navigating pages

In [48]:
'''jobs={"link":[]}'''

In [49]:
'''def get_url(position):
  template ="https://www.naukri.com/"
  pos=''
  #position='Data Scientist'
  p=position.lower()
  p=p.split()
  for i in p:
    pos= pos+i+'-'
  pos=pos+'jobs'+'-'

  template=template+pos+'?'+'k={}'
  #url=template
  url=template.format(position.lower())
  url1=url.split('?')
  url_final=url1[0]+'{}?'+url1[1]
  return url_final'''

In [50]:
'''url = get_url('Data Scientist')
url'''

In [52]:
'''for i in range(153,728):
    driver.get(url.format(i))
    time.sleep(3)
    lst=driver.find_elements_by_css_selector(".jobTuple.bgWhite.br4.mb-8")
    for job in lst:
        driver.implicitly_wait(5)
        link=job.find_element_by_css_selector('a.title.fw500.ellipsis').get_attribute('href')
        jobs['link'].append(link)'''

In [53]:
'''df_link=pd.DataFrame(jobs)
df_link'''

                                                    link
0      https://www.naukri.com/job-listings-big-data-d...
1      https://www.naukri.com/job-listings-big-data-d...
2      https://www.naukri.com/job-listings-aws-data-e...
3      https://www.naukri.com/job-listings-software-e...
4      https://www.naukri.com/job-listings-data-engin...
...                                                  ...
11495  https://www.naukri.com/job-listings-ml-enginee...
11496  https://www.naukri.com/job-listings-iot-soluti...
11497  https://www.naukri.com/job-listings-product-ma...
11498  https://www.naukri.com/job-listings-profile-de...
11499  https://www.naukri.com/job-listings-assistant-...

[11500 rows x 1 columns]

In [54]:
'''df_link.to_csv('link_df2.csv',index=False)'''

In [56]:
'''df1=pd.read_csv(r"C:\Users\sak\Documents\navgation_link_df\link_df1.csv")
df2=pd.read_csv(r"C:\Users\sak\Documents\navgation_link_df\link_df2.csv")
frames=[df1,df2]
navigation_link_data_frame=pd.concat(frames)
navigation_link_data_frame.to_csv('navigation_link_df.csv',index=False)'''

# Pulling of description form navigating pages

In [4]:
link_for_description = pd.read_csv(r"C:\Users\sak\Documents\navgation_link_df\navigation_link_df.csv",nrows=75)

In [5]:
link_for_description['link'][74]

'https://www.naukri.com/job-listings-data-scientist-1-acko-general-bengaluru-bangalore-2-to-7-years-271020501045?src=jobsearchDesk&sid=16050762411329938&xp=15&px=4'

In [6]:
Description=[]
Roles=[]
Education=[]

In [7]:
for lnk in link_for_description['link']:
    driver.get(lnk)
    time.sleep(3)
    lst=driver.find_elements_by_css_selector("section.job-desc")
    for desc in lst:
        description=desc.find_element_by_css_selector("div.dang-inner-html").text
        #roles=desc.find_element_by_css_selector("div.other-details").text
        #education=desc.find_element_by_css_selector("div.education").text
        Description.append(description)
        #Roles.append(roles)
        #Education.append(education)

In [8]:
#df = pd.DataFrame(list(zip(lst, lst2)),  columns =['Name', 'val']) 
description_df=pd.DataFrame(list(zip(Description)),columns=['Description'])
description_df

                                          Description
0   Dear Candidate\n\nSchedule a Telephonic Interv...
1   Roles and Responsibilities\nIntroduction\nThe ...
2   Job Description :\n- We are looking for a rese...
3   Roles and Responsibilities\nJob Description :\...
4   Roles and Responsibilities\nUnderstand busines...
..                                                ...
66  Context:\nvLogix Tech is a Software Product an...
67  Our client is a global Financial Services grou...
68  Roles and responsibilities \nJob description\n...
69  Roles and Responsibilities\nInteract with vari...
70  Role and Responsibilities:\nWork closely with ...

[71 rows x 1 columns]

In [9]:
'''description_df.to_csv('df_description.csv',index=False)'''

In [10]:
df=pd.read_csv(r"C:\Users\sak\Documents\df_description.csv")
df.shape

(71, 1)

In [11]:
df.Description[70]

'Role and Responsibilities:\nWork closely with Business teams & Product Managers to identify opportunities and serve as an ambassador for data science\nTranslates complex functional and technical requirements into detailed architecture, design, and high performing software and applications.\nWorks with peer developers to make sure that all data solutions are consistent and ensures all automated processes to preserve data by managing the alignment of data availability and integration processes\nEligibility Criteria:\n2 years of experience in the field of statistics, data mining and machine learning\nQualifications:\nBTech/BE Premier institute like IITs/BITS/NITs\nExperience in e-commerce/Online Internet companies\nSkills:\nExpert-level understanding of the underlying theory of Machine Learning.\nYou have superior knowledge of statistical analysis methods, such as input selection, logistic and standard regression, random forests, etc.\nTaking end-to-end ownership of problem domains and continuously improving upon quantitative solutions\nDemonstrated ability to facilitate and work with minimal direction, with the proven ability to coordinate complex activities\nAnalytical thought leadership and stay current on developments in data mining and the application of data science'

# Pulling of Roles and Education from navigating pages

In [7]:
link_for_edu_roles = pd.read_csv(r"C:\Users\sak\Documents\navgation_link_df\navigation_link_df.csv")

In [8]:
df_2215=link_for_edu_roles.iloc[2215:]
df_2215

                                                    link
1374   https://www.naukri.com/job-listings-data-analy...
1375   https://www.naukri.com/job-listings-data-analy...
1376   https://www.naukri.com/job-listings-data-analy...
1377   https://www.naukri.com/job-listings-data-analy...
1378   https://www.naukri.com/job-listings-data-analy...
...                                                  ...
14535  https://www.naukri.com/job-listings-ml-enginee...
14536  https://www.naukri.com/job-listings-iot-soluti...
14537  https://www.naukri.com/job-listings-product-ma...
14538  https://www.naukri.com/job-listings-profile-de...
14539  https://www.naukri.com/job-listings-assistant-...

[13166 rows x 1 columns]

In [9]:
Roles=[]
Education=[]

In [10]:
for lnk in df_2215['link']:
    driver.get(lnk)
    time.sleep(3)
    lst=driver.find_elements_by_css_selector("section.job-desc")
    for desc in lst:
        roles=desc.find_element_by_css_selector("div.other-details").text
        education=desc.find_element_by_css_selector("div.education").text
        Roles.append(roles)
        Education.append(education)

KeyboardInterrupt:

In [11]:
#df = pd.DataFrame(list(zip(lst, lst2)),  columns =['Name', 'val']) 
Roles_Edu_df=pd.DataFrame(list(zip(Roles,Education)),columns=['Roles','Education'])
Roles_Edu_df

,Roles,Education
0,RoleBusiness Analyst\nIndustry TypeIT-Software...,Education\nUG :Any Graduate in Any Specializat...
1,RoleAssociate/Senior Associate -(NonTechnical)...,Education\nUG :Any Graduate in Any Specializat...
2,RoleAssociate/Senior Associate -(NonTechnical)...,Education\nUG :Any Graduate in Any Specializat...
3,RoleSales/Business Development Manager\nIndust...,Education\nUG :Any Graduate in Any Specializat...
4,RoleSoftware Developer\nIndustry TypeRecruitme...,Education\nUG :B.Tech/B.E. in Computers\nPG :P...
...,...,...
836,"RoleData Analyst\nIndustry TypeIT-Software, So...",Education\nUG :Any Graduate in Any Specialization
837,RoleSoftware Developer\nIndustry TypeIT-Softwa...,Education\nUG :Any Graduate in Any Specializat...
838,RoleIT/Technical Content Developer\nIndustry T...,Education\nUG :Any Graduate in Any Specialization
839,RoleDatabase Architect/Designer\nIndustry Type...,Education\nUG :Any Graduate in Any Specialization
840,RoleDatabase Architect/Designer\nIndustry Type...,Education\nUG :Any Graduate in Any Specialization

In [12]:
Roles_Edu_df.to_csv('Roles_Edu_df7.csv',index=False)

In [13]:
df=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df7.csv")
df.shape

(841, 2)

In [4]:
'''df1=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df1.csv")
df2=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df2.csv")
df3=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df3.csv")
df4=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df4.csv")
df5=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df5.csv")
df6=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df6.csv")
df7=pd.read_csv(r"C:\Users\sak\Documents\Roles_Edu_df7.csv")

frames=[df1,df2,df3,df4,df5,df6,df7]
Roles_Edu_df_final=pd.concat(frames)'''

In [5]:
'''Roles_Edu_df_final.to_csv('Roles_Edu_df_final.csv',index=False)'''